In [4]:
import os

# Print the current working directory
print("Current Working Directory: ", os.getcwd())

# If you need to change it, use os.chdir()
os.chdir('/Users/alisonlove/Bootcamp/18-tableau-challenge/csv-files')

Current Working Directory:  /Users/alisonlove/Bootcamp/18-tableau-challenge/csv-files

In [5]:
import pandas as pd

# Example of loading multiple CSV files
file_names = ['2023-08.csv', '2023-09.csv', '2023-10.csv', '2023-11.csv', '2023-12.csv', '2024-01.csv']
data_frames = [pd.read_csv(file_name, low_memory=False) for file_name in file_names]


# Combine all DataFrames into a single DataFrame
combined_data = pd.concat(data_frames, ignore_index=True)

In [6]:
combined_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C5E94016E7939757,classic_bike,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,member
1,E88D94798ABBBD7C,classic_bike,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,member
2,341D3CE4743A92EC,classic_bike,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,member
3,21C763DECA96FD02,classic_bike,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,member
4,A8533C28598A6AB8,classic_bike,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16704062,75E5CF948A4ADB77,electric_bike,2024-01-25 20:51:27,2024-01-25 20:59:16,Willow Ave & 12 St,HB505,Clinton St & 7 St,HB303,40.751920,-74.030396,40.745420,-74.033320,casual
16704063,58DD5BF65F9B9E31,electric_bike,2024-01-27 09:03:41,2024-01-27 09:08:47,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
16704064,F0FBCE423BE48B08,classic_bike,2024-01-28 14:46:29,2024-01-28 14:51:43,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,member
16704065,7DD51CAD2DBE7990,classic_bike,2024-01-10 08:03:47,2024-01-10 08:10:55,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
16704066,A48A85D58AFEBAA3,electric_bike,2024-01-29 12:22:47,2024-01-29 12:25:33,Willow Ave & 12 St,HB505,Bloomfield St & 15 St,HB203,40.751956,-74.030405,40.754530,-74.026580,member

In [7]:
cleaned_data=combined_data.copy()

cleaned_data.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
cleaned_data['started_at'] = pd.to_datetime(cleaned_data['started_at'])
cleaned_data['ended_at'] = pd.to_datetime(cleaned_data['ended_at'])

cleaned_data['rideable_type'] = cleaned_data['rideable_type'].astype('category')
cleaned_data['member_casual'] = cleaned_data['member_casual'].astype('category')

cleaned_data.dtypes

ride_id                       object
rideable_type               category
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual               category
dtype: object

In [9]:
# Check for missing values in each column
print(cleaned_data.isnull().sum())

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    14166
start_station_id      14166
end_station_name      55398
end_station_id        55398
start_lat                 0
start_lng                 0
end_lat               11633
end_lng               11633
member_casual             0
dtype: int64

In [11]:
# Drop rows where any of the specified columns have missing values
cleaned_data = cleaned_data.dropna(how='any')

In [12]:
print(cleaned_data.isnull().sum())

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [14]:
cleaned_data.drop_duplicates(inplace=True)

In [15]:
cleaned_data.to_csv('cleaned_data.csv', index=False)